<% include partials/header %>

    <div class="container text-center">
        <h2>Sign Up</h2> 
        <br>
    </div>
    
     
    
    <div class="container" style="width: 30%; margin: 25px auto;">
        <form action="/tmr/register" method="POST">
            <div class="form-group">
                
                <input id="mail" class="form-control" type="text" placeholder="username" name="username" required pattern="[A-Z][A-Za-z0-9]+">
                <small>username must start with uppercase E.g User139</small>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="password" name="password" required>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Sign Up">
            </div>
        </form>
    </div>
    
    
   
   
    
    <div class="container text-center">
        <a href="/tmr">Go Back</a>
    </div>
    
    
    
<% include partials/footer %>